<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Página Inicial</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Todos Produtos</a>
            </li>
    
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Temas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for tema in temas %}
                <a class="dropdown-item" href="{{url_for('get_tema', id=tema.id)}}">{{tema.name}}</a>
                {% endfor %}            
              </div>
              </li>
    
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Modelos de canecas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for modelo in modelos %}
                <a class="dropdown-item" href="{{url_for('get_modelo', id=modelo.id)}}">{{modelo.name}}</a>
                {% endfor %}            
              </div>
              </li>
              {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('cliente_logout')}}">{{current_user.name}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('cliente_logout')}}">Sair</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('cadastrar_clientes')}}">Criar conta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('clienteLogin')}}">Entrar</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('getCart')}}" tabindex="-1">Carrinho({{session['LojainCarrinho']|length}})</a>
              </li>
    
          </ul>
          <form class="form-inline my-2 my-lg-0" method="POST">
            <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar Produtos" autofocus="autofocus" name="search_string">
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/search" value="Pesquisar">
          </form>
        </div>
      </nav>
    </div>