{% extends 'layouts.html' %}

{% block content %}

<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">Página Administrativa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Todos Produtos</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Temas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for tema in temas %}
            <a class="dropdown-item" href="{{url_for('get_tema', id=tema.id)}}">{{tema.name}}</a>
            {% endfor %}            
          </div>
          </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modelos de canecas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for modelo in modelos %}
            <a class="dropdown-item" href="{{url_for('get_modelo', id=modelo.id)}}">{{modelo.name}}</a>
            {% endfor %}            
          </div>
          </li>


      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Digite o texto p/ buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
</div>
<div class="container">
    <div class="row">
      {% if modelo %}
      {% for m in modelo.items %}
      <div class="col-md-3">
          <div class="card">
              <img src="{{url_for('static', filename='imagens/' + m.imagem_1)}}" alt="{{m.nome}}" class="card-img-top" height="180">
              <div class="card-body">
                {% if m.desconto > 0 %}
                <h5 style="text-shadow: 1px 2px 2px #000; color: #f00; transform: rotate(-8deg); top: 50%; left: 25%;">Desconto {{m.desconto}} %</h5>
                {% endif %}
                <h4 class="text-center">{{m.nome}}</h4>
                <p class="text-center">Preço R$ {{m.preco}}</p>
              </div>
              <div class="card-footer text-center">
                  <a href="#" class="float-left btn btn-sm btn-success mr-sm-2">Detalhes Produto</a>
                  <a href="#" class="float-rigth btn btn-sm btn-warning">Comprar</a>
              </div>
          </div>
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col text-center">

        {% if modelo.has_prev %}
        <a href="{{url_for('get_modelo', id=get_modelo.id, pagina=modelo.prv_num)}}" class="btn btn-outline-success btn-sm mt-3">Anterior</a>
        {% endif %}

        {% for page_num in modelo.iter_pages() %}
        {% if page_num %}

        {% if modelo.paginas == page_num %}
        <a href="{{url_for('get_modelo', id=get_modelo.id, pagina=page_num)}}" class="btn btn-success btn-sm mt-3">{{page_num}}</a>
        {% else %}
        <a href="{{url_for('get_modelo', id=get_modelo.id, pagina=page_num)}}" class="btn btn-outline-success btn-sm mt-3">{{page_num}}</a>
        {% endif %}

        {% else %}
        ...
        {% endif %}

        {% endfor %}

        {% if modelo.has_next %}
        <a href="{{url_for('get_modelo', id=get_modelo.id, pagina=modelo.next_num)}}" class="btn btn-outline-success btn-sm mt-3">Próxima</a>
        {% endif %}        
      </div>
    </div>

    <div class="row">

      {% elif get_tema_prod %}
      {% for get_tema in get_tema_prod.items %}
      
      <div class="col-md-3">
        <div class="card">
            <img src="{{url_for('static', filename='imagens/' + get_tema.imagem_1)}}" alt="{{get_tema.nome}}" class="card-img-top" height="180">
            <div class="card-body">
              {% if get_tema.desconto > 0 %}
              <h5 style="text-shadow: 1px 2px 2px #000; color: #f00; transform: rotate(-8deg); top: 50%; left: 25%;">Desconto {{get_tema.desconto}} %</h5>
              {% endif %}
              <h4 class="text-center">{{get_tema.nome}}</h4>
              <p class="text-center">Preço R$ {{get_tema.preco}}</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="float-left btn btn-sm btn-success mr-sm-2">Detalhes Produto</a>
                <a href="#" class="float-rigth btn btn-sm btn-warning">Comprar</a>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col text-center">

        {% if get_tema_prod.has_prev %}
        <a href="{{url_for('get_tema', id=get_tema.id, pagina=get_tema_prod.prv_num)}}" class="btn btn-outline-success btn-sm mt-3">Anterior</a>
        {% endif %}

        {% for page_num in get_tema_prod.iter_pages() %}
        {% if page_num %}

        {% if get_tema_prod.paginas == page_num %}
        <a href="{{url_for('get_tema', id=get_tema.id, pagina=page_num)}}" class="btn btn-success btn-sm mt-3">{{page_num}}</a>
        {% else %}
        <a href="{{url_for('get_tema', id=get_tema.id, pagina=page_num)}}" class="btn btn-outline-success btn-sm mt-3">{{page_num}}</a>
        {% endif %}

        {% else %}
        ...
        {% endif %}

        {% endfor %}

        {% if get_tema_prod.has_next %}
        <a href="{{url_for('get_tema', id=get_tema.id, pagina=get_tema_prod.next_num)}}" class="btn btn-outline-success btn-sm mt-3">Próxima</a>
        {% endif %}        
      </div>
    </div>

    <div class="row">
      {% else %}

      {% for produto in produtos.items %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{url_for('static', filename='imagens/' + produto.imagem_1)}}" alt="{{produto.nome}}" class="card-img-top" height="180">
                <div class="card-body">
                  {% if produto.desconto > 0 %}
                  <h5 style="text-shadow: 1px 2px 2px #000; color: #f00; transform: rotate(-8deg); position: absolute; top: 45%; left: 25%;">Desconto {{produto.desconto}} %</h5>
                  {% endif %}
                  <h4 class="text-center">{{produto.nome}}</h4>
                  <p class="text-center">Preço R$ {{produto.preco}}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="float-left btn btn-sm btn-success mr-sm-2">Detalhes Produto</a>
                    <a href="#" class="float-rigth btn btn-sm btn-warning">Comprar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="row">
      <div class="col text-center">

        {% if produtos.has_prev %}
        <a href="{{url_for('home', pagina=produtos.prv_num)}}" class="btn btn-outline-success btn-sm mt-3">Anterior</a>
        {% endif %}

        {% for page_num in produtos.iter_pages() %}
        {% if page_num %}

        {% if produtos.paginas == page_num %}
        <a href="{{url_for('home', pagina=page_num)}}" class="btn btn-success btn-sm mt-3">{{page_num}}</a>
        {% else %}
        <a href="{{url_for('home', pagina=page_num)}}" class="btn btn-outline-success btn-sm mt-3">{{page_num}}</a>
        {% endif %}

        {% else %}
        ...
        {% endif %}

        {% endfor %}

        {% if produtos.has_next %}
        <a href="{{url_for('home', pagina=produtos.next_num)}}" class="btn btn-outline-success btn-sm mt-3">Próxima</a>
        {% endif %}        
      </div>
    </div>
      {% endif %}
</div>

{% endblock content %}