{% extends 'layouts.html' %}

{% block content %}

<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Página Inicial</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Todos Produtos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modelos de canecas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for modelo in modelos %}
            <a class="dropdown-item" href="{{url_for('get_modelo', id=modelo.id)}}">{{modelo.name}}</a>
            {% endfor %}            
          </div>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
<div class="container">
    <div class="row">
      {% if modelo %}
      {% for m in modelo %}
      <div class="col-md-3">
          <div class="card">
              <img src="{{url_for('static', filename='imagens/' + m.imagem_1)}}" alt="{{m.nome}}" class="card-img-top" height="180">
              <div class="card-body">
                {% if m.desconto > 0 %}
                <h5 style="text-shadow: 1px 2px 2px #000; color: #f00; transform: rotate(-8deg); position: absolute; top: 50%; left: 25%;">Desconto {{m.desconto}} %</h5>
                {% endif %}
                <h4 class="text-center">{{m.nome}}</h4>
                <p class="text-center">Preço R$ {{m.preco}}</p>
              </div>
              <div class="card-footer text-center">
                  <a href="#" class="float-left btn btn-sm btn-success mr-sm-2">Detalhes Produto</a>
                  <a href="#" class="float-rigth btn btn-sm btn-warning">Comprar</a>
              </div>
          </div>
      </div>
      {% endfor %}

      {% else %}

      {% for produto in produtos %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{url_for('static', filename='imagens/' + produto.imagem_1)}}" alt="{{produto.nome}}" class="card-img-top" height="180">
                <div class="card-body">
                  {% if produto.desconto > 0 %}
                  <h5 style="text-shadow: 1px 2px 2px #000; color: #f00; transform: rotate(-8deg); position: absolute; top: 50%; left: 25%;">Desconto {{produto.desconto}} %</h5>
                  {% endif %}
                  <h4 class="text-center">{{produto.nome}}</h4>
                  <p class="text-center">Preço R$ {{produto.preco}}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="float-left btn btn-sm btn-success mr-sm-2">Detalhes Produto</a>
                    <a href="#" class="float-rigth btn btn-sm btn-warning">Comprar</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}