{% extends 'layouts.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    {% include '_messages.html'%}
    <div class="row">
        <div class="col-md-12">
            <br>
            Numero do Pedido: {{pedidos.notafiscal}}
            <br>
            Status: {{pedidos.status}}
            <br>
            Cliente: {{cliente.name}}
            <br>
            Email: {{cliente.email}}
            <br>
            Telefone: {{cliente.contact}}
            <br>
            <br>
        <table class="table table-sm">
            <thead>

                <th>Código</th>                
                <th>Nome</th>
                <th>Cor</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Desconto</th>
                <th>SubTotal</th>
                

            </thead>

            <tbody>
                {% for key , produto in pedidos.pedido.items() %}
                {% set desconto = "%0.2f" | format((produto.desconto/100) * produto.preco|float) %}
                <tr>
                    <td>{{loop.index}}</td>

                    <td>{{produto.nome}}</td>

                    <form action="{{url_for('updateCarro',code=key)}}" method="post">

                        <td>{{produto.cor|capitalize}}</td>
                        <td>R$ {{produto.preco}}</td>
                        <td>{{produto.quantidade}}</td>
                        {% if produto.desconto > 0 %}
                        <td>{{produto.desconto}}%=R$ {{desconto}}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% set subtotal = produto.quantidade|int * produto.preco|float %}
                        <td>R$ {{"%0.2f"|format((subtotal|float) - desconto|float)}}</td>
                        
                    </form>
                                     
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <table class="table table-sm">
                
                <tr>
                    <td></td>
                    
                    <td><a href="{{url_for('home')}}" class="btn btn-success btn-sm float-left">Comprar</a></td>
                    <td colspan="3">Imposto(6%): R$ {{imposto}}</td>
                    <td colspan="5">Valor a Pagar: R$ {{gTotal}}</td>
                    <td>
                        <form action="{{url_for('get_pdf', notafiscal=pedidos.notafiscal)}}" method="post">
                        <button type="submit" class="btn btn-warning btn-sm float-rigth">Gerar PDF</button>
                        </form>    

                        
                    
                    </td>
                </tr>
            </table>
        </div>    
    </div>
</div>
{% endblock content %}