<!DOCTYPE html>
 <html lang="en"> 
  <head>  <meta charset="UTF-8"> 
          <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
          <title>Pedcaneca - Canecas Personalizadas</title>
          <link rel="icon" href="{{ url_for('static', filename='imagens/icone_caneca.png') }}" type="image/x-icon">             
  </head>
{% extends 'layouts.html' %}

{% block content %}

{% include 'navbar.html' %}

<div class="container-fluid">
    {% include '_messages.html'%}
    <div class="row">
        <div class="col-md-12">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <br>
                    <strong>Numero do Pedido: </strong>{{pedidos.notafiscal}}
                    <br>
                    <strong>Status: </strong>{{pedidos.status}}
                    <br>
                    <strong>Data do Pedido: </strong>{{pedidos.data_criado}}h
                    <br>
                    <strong>Cliente: </strong>{{cliente.name}}
                    <br>
                    <strong>Email: </strong>{{cliente.email}}
                    <br>
                    <strong>Telefone: </strong>{{cliente.contact}}
                    <br>
                    <br>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='imagens/icone_caneca.png') }}" alt="Logo" style="max-width: 150px;">
                </div>
            </div>
            <table class="table table-sm">
                <thead>
                    <th>Código</th>                
                    <th>Nome</th>
                    <th>Cor</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Desconto</th>
                    <th>SubTotal</th>
                </thead>
                <tbody>
                    {% for key , produto in pedidos.pedido.items() %}
                    {% set desconto = "%0.2f" | format((produto.desconto/100) * produto.preco|float) %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{produto.nome}}</td>
                        <form action="{{url_for('updateCarro',code=key)}}" method="post">
                            <td>{{produto.cor|capitalize}}</td>
                            <td>R$ {{produto.preco}}</td>
                            <td>{{produto.quantidade}}</td>
                            {% if produto.desconto > 0 %}
                            <td>{{produto.desconto}}%=R$ {{desconto}}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% set subtotal = produto.quantidade|int * produto.preco|float %}
                            <td>R$ {{"%0.2f"|format((subtotal|float) - desconto|float)}}</td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-sm float-right">
                <tr>
                    <td><a href="{{url_for('home')}}" class="btn btn-success btn-sm">Efetuar Pagamento</a></td>
                    <td>                   
                    <td>
                        <form id="pdfForm" action="{{url_for('get_pdf', notafiscal=pedidos.notafiscal)}}" method="post" target="_blank">
                            <button type="submit" class="btn btn-warning btn-sm float-right">Gerar PDF</button>
                        </form>
                    </td>                    
                    <td colspan="5" class="text-right"><strong>Valor a Pagar: R$ {{gTotal}}</strong></td>
                </tr>
            </table>
        </div>    
    </div>
</div>

<script>
    document.getElementById('pdfForm').onsubmit = function(event) {
        event.preventDefault();
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = "{{url_for('get_pdf', notafiscal=pedidos.notafiscal)}}";
        form.target = '_blank';
        document.body.appendChild(form);
        form.submit();
    };
</script>
{% endblock content %}
