{% extends 'layouts.html' %}

{% block content %}

{% include '_messages.html'%}
<div class="cointainer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/admin">Administrador</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/admin">Produtos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/modelos">Modelos</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tema">Temas</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Adicionar
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="addproduto">Produtos</a>
                <a class="dropdown-item" href="addmodelo">Modelos</a>
                <a class="dropdown-item" href="addtema">Temas</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Digite o texto p/ buscar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </nav>
</div>
<div class="navbar navbar-expand-lg navbar-light bg-light navbar-brand">Lista de Produtos</div>
<div class="cointainer">
    <table class="table table-sm table-striped">
        <thead>
            <th>Codigo</th>
            <th>Produto</th>
            <th>Preço</th>
            <th>Desconto</th>
            <th>Estoque</th>
            <th>Modelo</th>
            <th>Tema</th>
            <th>Foto</th>
            <th>Editar</th>
            <th>Apagar</th>
        </thead>

        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{produto.nome}}</td>
                <td>{{produto.preco}}</td>
                <td>{{produto.desconto}} %</td>
                <td>{{produto.estoque}}</td>
                <td>{{produto.modelo.name}}</td>
                <td>{{produto.tema.name}}</td>
                <td><img src="{{url_for('static', filename='imagens/' + produto.imagem_1)}}" width="150" height="80"></td>
                <td><a href="{{url_for('atualizarproduto', id=produto.id)}}" class="btn btn-success btn-sm">Editar</a></td>
                <td>
                  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{produto.id}}">Exluir</button>
                </td>
            </tr>
            
            
            

<div class="modal fade" id="exampleModal-{{produto.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{produto.nome}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="text-danger">Deseja realmente excluir o produto "{{produto.nome}}"?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cancelar</button>
        <form action="{{url_for('deleteproduto', id=produto.id)}}" method="POST">
          <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
        </form>
            
        
      </div>
    </div>
  </div>
</div>

            {% endfor %}

        </tbody>

    </table>
</div>
{% endblock content %}