{% extends 'layouts.html' %}

{% block content %}

{% include '_messages.html'%}
<div class="cointainer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/admin">Administrador</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/admin">Produtos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/modelos">Modelos</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tema">Temas</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Adicionar
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="addproduto">Produtos</a>
                <a class="dropdown-item" href="addmodelo">Modelos</a>
                <a class="dropdown-item" href="addtema">Temas</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Digite o texto p/ buscar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </nav>
</div>
<div class="cointainer">
    <table class="table table-sm table-striped">      
        <thead>
            <th>Código</th>
            <th>Nome</th>
            <th>Editar</th>
            <th>Apagar</th>
        </thead>

        <tbody>
            {% if modelos %}
            <div class="navbar navbar-expand-lg navbar-light bg-light navbar-brand">Lista de Modelos</div>
            {% for modelo in modelos %}                                              
            <tr>
                <td>{{modelo.id}}</td>
                <td>{{modelo.name}}</td>
                <td><a href="{{url_for('atualizarmodelo', id=modelo.id)}}" class="btn btn-sm btn-success">Editar</a></td>
                <td>
                  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{modelo.id}}">Exluir</button>
                </td>
            </tr>
<div class="modal fade" id="exampleModal-{{modelo.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{modelo.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="text-danger">Deseja realmente excluir o modelo "{{modelo.name}}"?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        <form action="{{url_for('deletemodelo', id=modelo.id)}}" method="POST">
          <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
            
        
      </div>
    </div>
  </div>
</div>

            {% endfor %}
            {% else %}
            <div class="navbar navbar-expand-lg navbar-light bg-light navbar-brand">Lista de Temas</div>
            {% for tema in temas %}
            <tr>
                <td>{{tema.id}}</td>
                <td>{{tema.name}}</td>
                <td><a href="{{url_for('atualizartema', id=tema.id)}}" class="btn btn-sm btn-success">Editar</a></td>
                <td>
                  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{tema.id}}">Exluir</button>
                </td>
            </tr>

<div class="modal fade" id="exampleModal-{{tema.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{tema.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="text-danger">Deseja realmente excluir o tema "{{tema.name}}"?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        <form action="{{url_for('deletetema', id=tema.id)}}" method="POST">
          <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
            
        
      </div>
    </div>
  </div>
</div>

           {% endfor %}
           {% endif %}

        </tbody>

    </table>
</div>
{% endblock content %}